*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

#card{
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 14px;
    padding: 30px;
 
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 2px  70px;
}
#card h5{
    font-size: 30px;
    color: red;
    margin: 7px 70px;
}

#card button{
      background-color:rgb(13, 79, 102);
      color: white;
      font-weight: 700;
      padding: 10px 5px;
      border-radius: 4px;
      border: none;
      margin: 20px 70px;
     
}
/* #card #remove{
    color: black;
    background-color: rgb(138, 134, 130);
     padding: 20px 10px;
     border-radius: 4px;
} */